.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home{
display: flex;
flex-direction: column;
justify-content: space-around;
height:100vh;
}

.beer-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgb(179, 172, 172);
}

.description{
  width:60%;
  text-align: start;
  
}
.beer-image{
  width: 30%;
  
}
.beer-details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.beer-description{
  text-align: start;
  padding: 2em;
}

.beer-info{
  display: flex;
  justify-content: space-between;
  
}